<center>
<table width="50%" border="0">
<tr>
	<td><a href="admin.php?view=categories"><img src="{$template_dir}/images/categories.png" border="0"><br>Categories</a></td>
	<td><a href="admin.php?view=levels"><img src="{$template_dir}/images/levels.png" border="0"><br>Levels</a></td>
	<td><a href="admin.php?view=users"><img src="{$template_dir}/images/users.png" border="0"><br>Users</a></td>
</tr>
<tr>
	<td><a href="admin.php?view=settings"><img src="{$template_dir}/images/settings.png" border="0"><br>Settings</a></td>
	<td><a href="admin.php?view=bgmusic"><img src="{$template_dir}/images/sound-icon.png" width="64" height="64" border="0"><br>Background Music</a></td>
	<td><a href="admin.php?view=logout"><img src="{$template_dir}/images/logout.png" border="0"><br>Logout</a></td>

</tr>
</table>
</center>