<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
<meta name="keywords" content=""  />
<meta name="description" content="" />
<title>Welcome</title>
<link rel="stylesheet" href="{$template_dir}css/style.css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
{literal}
<script type="text/javascript">
/*$(function(){
	$('#play_btn').click(function(){
		width=Number({/literal}{$image_width}{literal}*2+100);
		window.open('?view=play', "play_window","location=0,resizable=0,status=0,scrollbars=1,width="+width+",height=700");
		return false;
	}); 
}); */
</script>
{/literal}
</head>
<body>
<center>
